*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

#wrapper{
    width: 1000px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 50%;
    text-align: center;
    margin: 5px;
    padding: 3px;
}

#mainContent{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.boxContainer{
    width: 100%;
    height: 480px;
}

#mainContent .ninjaImgs{
    width: 23.5%;
    margin: 5px;
}